book ratings dataset.zip
book ratings dataset/Book reviews/Book reviews/BX_Books.csv
book ratings dataset/Book reviews/Book reviews/BX-Book-Ratings.csv
book ratings dataset/Book reviews/Book reviews/BX-Users.csv
book ratings dataset/Books Data with Category Language and Summary/Preprocessed_data.csv
